.MorsePlayer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background: rgb(8, 57, 128);
  background: linear-gradient(
    6deg,
    rgba(8, 57, 128, 1) 0%,
    rgba(56, 171, 194, 1) 100%
  );
}
.MorsePlayer-label {
  color: white;
  font-size: 2rem;
  font-weight: 300;
}
.MorsePlayer-input {
  width: 50%;
  margin: 30px;
  height: 2rem;
  background-color: #e2e2e2;
  border: none;
}
.MorsePlayer-btn {
  border: none;
  height: 30px;
  width: 50%;
  background-color: #e2e2e2;
}
